/* Imports */

@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');

/* Variables */

:root{
    --principal: rgb(255, 255, 255);
    --secondary: #110f0f;
    --third: rgba(201, 201, 201, 0.425);
    --four: #9c9aff; 
    --font-primary: "Monserrat", sans-serif;
    --font-secondary: "display", sans-serif;
    --font-title: 3.5em;
    --font-normal: 1.8em;
}

/* Normalize */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */

html{
    font-size: 62.5%;
    font-family: var(--font-primary);
}

a{
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

/* Helpers */

.flex-row{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/* header & navbar */

header{
    background-color: var(--principal);
    position: fixed;
    width: 100%;
    z-index: 2;
}

header .navbar{
    min-width: 10hv;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .navbar__logo a{
    flex-basis: 30%;
    transition: border 0.3s;
}

header .navbar__logo a:hover{
    padding: 0 0.5rem;
    border: 0.1rem solid var(--secondary);
}

header .navbar .navbar__list{
    flex-basis: 60%;
    position: relative;
    justify-content: space-between;
}

.navbar .navbar__list .navbar__item{
    padding: 1rem;
    font-size: var(--font-normal);
    transition: background-color 1s;
    list-style-type: none;
}

.navbar .sub-navbar{
    display: none;
    position: absolute;
    background-color: var(--principal);
    color: var(--principal);
    padding: 1rem;
}

.sub-navbar .sub-navbar__item{
    padding: 1rem;
    font-size: 0.8em;
    transition: border 1s;
    list-style-type: none;
}

.navbar .navbar__list .navbar__item a:hover {
    border-bottom: 0.1rem solid var(--four);
    color: var(--four);
}

.navbar .navbar__list .navbar__item:hover .sub-navbar{
    display: block;
    font-size: 1.1em;
}

.navbar .navbar__list .navbar__item .sub-navbar .sub-navbar__item a:hover{
    color: var(--four);
}

/* home */

#home{
    display: inline-block;
}

#home .home__description{
    position: absolute;
    background-color: var(--third);
    margin: 60vh 12vh 60vh 12vh;
    padding: 3rem;
    width: 55rem;
}

#home .home__img{
    position: relative;
    opacity: 0.6;
}

#home .home__img img{
    object-fit: none;
    width: 100%;
}

#home .home__description .home__title{
    font-size: 2em;
}

#home .home__description .home__article{
    font-size: 1.5em;
    padding-top: 1rem;
}

/* about as */

#about-us h2{
    font-size: var(--font-title);
    padding: 3rem;
}

#about-us .flex-row{
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}

#about-us .flex-row .flex-column{
    flex-basis: 80%;
    padding: 2rem;
}

#about-us .flex-row .flex-column p{
    font-size: var(--font-normal);
    padding: 2rem;
}

#about-us .flex-row .about-us__img img{
    flex-basis: 20%;
    padding: 3rem;
    max-height: 65vh;
}

/* servicios */

#service{
    background-image: url(../image/foto\ servicios.png);
    background-repeat: none;
    height: 70vh
}

#service h2{
    font-size: var(--font-title);
    padding: 3rem;
}

#service .service__title{
    padding-top: 25vh;
}

#service .service__items{
    font-size: var(--font-normal);
    padding: 3rem;
}

#service .service__list{
    justify-content: space-around;
    list-style-type: none;
    font-size: var(--font-normal);
    padding: 0 3rem;
}

#service .service__img{
    justify-content: space-around;
    list-style-type: none;
    padding: 0 3rem;
    height: 40vh;
}

#service .service__img img{
    width: 11rem; 
}
 
#service .service__list .service__link{
    line-height: 4rem;
}

/* novedades */

#news .flex-row{
    justify-content: space-between;
    align-items: center;
    height: 65vh;
}

#news h2{
    font-size: var(--font-title);
    padding: 3rem;
}

#news .flex-row .news__description{
    padding: 3rem;
    font-size: var(--font-normal);
}

#news .flex-row .news__description p{
    padding: 1rem;
}

#news .flex-row .news__img{
    align-items: center;
    padding: 3rem;
}

#news .flex-row .news__img img{
    justify-content: space-between;
    padding: 1rem;
}

/* contacto */

#contact h2{
    font-size: var(--font-title);
    padding: 3rem;
}

#contact .contact__title{
    font-size: var(--font-normal);
    padding-left: 3rem;
}

#contact .contact__form{
    display: grid; 
    grid-template-areas: 
    "name lastname"
    "mail text"
    "message massage"
    "none send";
    grid-template-rows: 20% 20% 40% 20%;
    grid-template-columns: 30% 30%;
    padding: 3rem;
    min-height: 60vh;
    min-width: 100vh;
    grid-gap: 1rem;
}

#contact .contact__form .contact__form__name{
    grid-area: "name";
}

#contact .contact__form .contact__form__lastname{
    grid-area: "lastname";
}

#contact .contact__form .contact__form__mail{
    grid-area: "mail";
}

#contact .contact__form .contact__form__text{
    grid-area: "text";
}

#contact .contact__form .contact__form__message{
    grid-area: "message";
}

#contact .contact__form .conact__form__send{
    grid-area: "send";
}

/* footer */

.footer{
    background-color: var(--third);
    max-height: 55vh;
}
 
.footer .footer__list{
    justify-content: space-evenly;
}

.footer ul li{
    text-decoration: none;
    list-style: none;
}

.footer .footer__derechos{
    padding-top: 18rem;
}

@media screen and (max-width: 798px) {
    .container{
        flex-wrap: wrap;
    }
    
    #home .home__img img{
        min-height: 80rem;
        width: 100%;
    }

    #about-us .flex-row .flex-column p{
        font-size: 1.2em;
        padding: 0;
    }

    #home .home__description{
        position: absolute;
        background-color: var(--third);
        margin: 70vh 0 60vh 0;
        padding: 3rem;
        width: 100%;
    }

    #service .service__list{
        font-size: 1.5em;
        padding: 0 3rem;
    }
    
    #news .flex-row .news__description{
        padding-left: 0.5;
        font-size: 1.5em;
        width: 85vh;
    }
    
    #news .flex-row .news__description p{
        padding: 0;
    }

    #news .flex-row .news__img{
        padding: 3rem;
        width: 10vh
    }
}


