/* Helpers */

@mixin flex($direction, $justify, $aling, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    gap: $gap;
}

/*.flex-row{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
*/

.container{
    max-width: 1080px;
    margin: 0 auto;
    overflow-y: hidden;
}