/* footer */

.footer{
    background-color: $third;
    max-height: 55vh;

    .footer__list{
        @include flex(row, space-between, center, 2rem);
    }
    
    .footer__navbar{
        @include flex(column, space-between, center, 2rem);
    }

    .footer__contact{
        @include flex(row, space-between, center, 2rem);
    }

    ul li{
        text-decoration: none;
        list-style: none;
    }
    
    .footer__derechos{
        padding-top: 18rem;
        padding-left: 4rem;
    }

    @media screen and (max-width: 768){
        vertical-align: baseline;
        flex-wrap: wrap;
    }
}
 
